---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import banner from "../images/banner-faq.webp";
---

<Layout title="FAQ :: Happy Tail Grooming">
   <!-- Main -->
   <section id="main" class="container medium bg-wave">
      <header>
         <h2>Latest articles</h2>
      </header>
      <div class="box">
         <span class="image featured"><Image src={banner} alt="FAQs" /></span>


         <h4>Do I need water and electric?</h4>
         <p>
            No. Our van is fully self-contained mobile salons also equipped with
            heat and air conditioning to keep your dog comfortable.
         </p>

         <h4>How do I schedule?</h4>
         <p>
            The easiest way to schedule is by clicking the "BOOK NOW" button on
            our website. If you prefer to speak with someone, you can always
            contact us. We will be happy to assist you with scheduling your
            appointment!
         </p>

        
      </div>
   </section>
</Layout>

<style>
   .image img {
      max-width: 100%;
      height: auto;
   }
</style>
