---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import banner from "../images/banner-faq.webp";


import { getCollection } from 'astro:content';
const blogEntries = await getCollection('posts',  ({ data }) => {
  return data.draft !== true
})

---

<Layout title="Blog :: Happy Tail Grooming">
   <!-- Main -->
   <section id="main" class="container medium bg-wave blog">
      <header>
         <h2>Latest Articles</h2>
      </header>
      
      <div class="row">
         {blogEntries.map(post => (
            <div class="col-6">
               <section class="box special">

                  <span class="image featured">
                     <img src={post.data.image.url} alt="" />
                  </span>

                  <h3>

                     <a href={`/posts/${post.slug}`}>{post.data.title}</a>
                  </h3>

                  <time datetime={post.data.date.toISOString()}>
                     {post.data.date.toLocaleDateString('en-US',{
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                     })}
                  </time>

               </section>
            </div>
            ))}
      </div>
      
      
   
        
   </section>
</Layout>

<style>
   .image img {
      max-width: 100%;
      height: auto;
   }

   .blog time {
      font-size: smaller;
   }
</style>
