---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import banner from "../images/banner-faq.webp";
---

<Layout title="FAQ :: Happy Tail Grooming">
   <!-- Main -->
   <section id="main" class="container medium">
      <header>
         <h2>FREQUENTLY ASKED QUESTIONS</h2>
      </header>
      <div class="box">
         <span class="image featured"><Image src={banner} alt="FAQs" /></span>

         <h4>How can I pay?</h4>
         <p>We accept cash and credit cards.</p>

         <h4>How much does dog grooming cost?</h4>
         <p>
            All prices are subject to change based on the current condition and
            length of the pet's coat, breed and size. Excessively matted or
            tangled coats will be subject to additional charges to correct.
         </p>

         <h4>How old should my puppy be to have his first grooming?</h4>
         <p>
            We accept puppies from 16 weeks to get familiar with grooming and
            introduce the process in a safe way. We always recommend to start
            with a bath and nail trimming, if the puppy's behavior allows, we
            can make a light trim on the hair.
         </p>

         <h4>Is my dog too old to be groomed?</h4>
         <p>
            Elderly dogs are a recurring part of my schedule and we are prepared
            to work with them with extra care and attention. We recommend always
            keeping them with short hair to facilitate maintenance their
            comfort. In some cases of vulnerable dogs or with a serious health
            problem that requires some special attention, we advise the owner to
            resort to a vet groomer who can provide a more specific service for
            the dog's needs.
         </p>

         <h4>How often should I groom my dog?</h4>
         <p>
            Proper dog grooming is about more than doggie hairstyles or being
            best in show—it is an essential part of the life of any healthy dog.
            Dogs, just like people, need regular baths and other physical
            maintenance to keep them healthy and happy. We always recommend
            grooming your dog every 4-6 weeks.
         </p>

         <h4>Do you require proof of vaccinations?</h4>
         <p>
            Proof of all vaccination is required prior to any services. If
            vaccines documents are not up to date or we do not receive a
            vaccination certificate, grooming appointment will be automatically
            rescheduled until up-to-date vaccine records are provided.
         </p>

         <h4>How long does grooming take?</h4>
         <p>
            We groom your dog with patience and the utmost safety. My goal is
            keeping your dog safe and comfortable. The duration depends on your
            dog’s size, coat condition, behavior, and overall health.
         </p>

         <h4>Do I need water and electric?</h4>
         <p>
            No. Our van is fully self-contained mobile salons also equipped with
            heat and air conditioning to keep your dog comfortable.
         </p>

         <h4>How do I schedule?</h4>
         <p>
            The easiest way to schedule is by clicking the "BOOK NOW" button on
            our website. If you prefer to speak with someone, you can always
            contact us. We will be happy to assist you with scheduling your
            appointment!
         </p>

         <h4>What if my dog needs a special shampoo?</h4>
         <p>
            We use high-quality, pet-safe shampoos for the most varied skin
            needs. However, when the dog needs a special product or has an
            allergy, we always ask the owner to provide the hypoallergenic
            shampoo.
         </p>

         <h4>
            Do you offer any discounts for multi dog homes or neighborhood
            services?
         </h4>
         <p>
            No, we do not offer discounts for multiple dog homes or for
            scheduling the same day as a neighbor. Services still take the same
            amount of time per pet and would not be fair to our staff to charge
            less for the same amount of work completed.
         </p>
      </div>
   </section>
</Layout>

<style>
   .image img {
      max-width: 100%;
      height: auto;
   }
</style>
