---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import pic1 from "./../images/gallery/dog-grooming-(1).jpg";
import pic2 from "./../images/gallery/dog-grooming-(2).jpg";
import pic3 from "./../images/gallery/dog-grooming-(3).jpg";
import pic4 from "./../images/gallery/dog-grooming-(4).jpg";
import pic5 from "./../images/gallery/dog-grooming-(5).jpg";
import pic6 from "./../images/gallery/dog-grooming-(6).jpg";
import pic7 from "./../images/gallery/dog-grooming-(7).jpg";
import pic8 from "./../images/gallery/dog-grooming-(8).jpg";
import pic9 from "./../images/gallery/dog-grooming-(9).jpg";
import pic10 from "./../images/gallery/dog-grooming-(10).jpg";
import pic11 from "./../images/gallery/dog-grooming-(11).jpg";
import pic12 from "./../images/gallery/dog-grooming-(12).jpg";
import pic13 from "./../images/gallery/dog-grooming-(13).jpg";
import pic14 from "./../images/gallery/dog-grooming-(14).jpg";
import pic15 from "./../images/gallery/dog-grooming-(15).jpg";
import pic16 from "./../images/gallery/dog-grooming-(16).jpg";
import pic17 from "./../images/gallery/dog-grooming-(17).jpg";
import pic18 from "./../images/gallery/dog-grooming-(18).jpg";
import pic19 from "./../images/gallery/dog-grooming-(19).jpg";
import pic20 from "./../images/gallery/dog-grooming-(20).jpg";
import pic21 from "./../images/gallery/dog-grooming-(21).jpg";
import pic22 from "./../images/gallery/dog-grooming-(22).jpg";
import pic23 from "./../images/gallery/dog-grooming-(23).jpg";
import pic24 from "./../images/gallery/dog-grooming-(24).jpg";
import pic25 from "./../images/gallery/dog-grooming-(25).jpg";
import pic26 from "./../images/gallery/dog-grooming-(26).jpg";
import pic27 from "./../images/gallery/dog-grooming-(27).jpg";
import pic28 from "./../images/gallery/dog-grooming-(28).jpg";
import pic29 from "./../images/gallery/dog-grooming-(29).jpg";
import pic30 from "./../images/gallery/dog-grooming-(30).jpg";
import pic31 from "./../images/gallery/dog-grooming-(31).jpg";
import pic32 from "./../images/gallery/dog-grooming-(32).jpg";
import pic33 from "./../images/gallery/dog-grooming-(33).jpg";
import pic34 from "./../images/gallery/dog-grooming-(34).jpg";
import pic35 from "./../images/gallery/dog-grooming-(35).jpg";
import pic36 from "./../images/gallery/dog-grooming-(36).jpg";
import pic37 from "./../images/gallery/dog-grooming-(37).jpg";
import pic38 from "./../images/gallery/dog-grooming-(38).jpg";
import pic39 from "./../images/gallery/dog-grooming-(39).jpg";
import pic40 from "./../images/gallery/dog-grooming-(40).jpg";
import pic41 from "./../images/gallery/dog-grooming-(41).jpg";
import pic42 from "./../images/gallery/dog-grooming-(42).jpg";
import pic43 from "./../images/gallery/dog-grooming-(43).jpg";
import pic44 from "./../images/gallery/dog-grooming-(44).jpg";
import pic45 from "./../images/gallery/dog-grooming-(45).jpg";
import pic46 from "./../images/gallery/dog-grooming-(46).jpg";
import pic47 from "./../images/gallery/dog-grooming-(47).jpg";
import pic48 from "./../images/gallery/dog-grooming-(48).jpg"; 
import pic49 from "./../images/gallery/dog-grooming-(49).jpg"; 
import pic50 from "./../images/gallery/dog-grooming-(50).jpg"; 
import pic51 from "./../images/gallery/dog-grooming-(51).jpg"; 
import pic52 from "./../images/gallery/dog-grooming-(52).jpg"; 
import pic53 from "./../images/gallery/dog-grooming-(53).jpg";    
import pic54 from "./../images/gallery/dog-grooming-(54).jpg"; 
import pic55 from "./../images/gallery/dog-grooming-(55).jpg"; 
import pic56 from "./../images/gallery/dog-grooming-(56).jpg"; 
import pic57 from "./../images/gallery/dog-grooming-(57).jpg"; 
import pic58 from "./../images/gallery/dog-grooming-(58).jpg"; 
import pic59 from "./../images/gallery/dog-grooming-(59).jpg"; 
import pic60 from "./../images/gallery/dog-grooming-(60).jpg"; 
import pic61 from "./../images/gallery/dog-grooming-(61).jpg"; 
import pic62 from "./../images/gallery/dog-grooming-(62).jpg"; 
import pic63 from "./../images/gallery/dog-grooming-(63).jpg"; 
import pic64 from "./../images/gallery/dog-grooming-(64).jpg"; 
import pic65 from "./../images/gallery/dog-grooming-(65).jpg"; 

const pic = [pic1, pic2, pic3, pic4, pic5, pic6, pic7, pic8, pic9, pic10, pic11, pic12, pic13, pic14, pic15, pic16, pic17, pic18, pic19, pic20, pic21, pic22, pic23, pic24, pic25, pic26, pic27, pic28, pic29, pic30, pic31, pic32, pic33, pic34, pic35, pic36, pic37, pic38, pic39, pic40, pic41, pic42, pic43, pic44, pic45, pic46, pic47, pic48, pic49, pic50, pic51, pic52, pic53, pic54, pic55, pic56, pic57, pic58, pic59, pic60, pic61, pic62, pic63, pic64, pic65];
---


<Layout title="Gallery :: Happy Tail Grooming">
   <!-- Main -->
   <section id="main" class="container large bg-wave">
      <header>
         <h2>Gallery</h2>
      </header>
      <div class="box gallery">
         {Array.from({ length: 65 }).map((_, index) => (

            <div class="image">
               <a href={pic[index].src} data-lightbox="gallery">
                  <Image src={pic[index]} alt="" />
               </a>
            </div>
         ))}
      </div>
   </section>
</Layout>

<style>
   .box {
      padding: 2rem;
   }

   .gallery {
      /* display: flex;
      flex-wrap: wrap;
      justify-content: center; */
      column-count: 4;
      column-gap: 10px;
   }

   .gallery img {
      max-width: 100%;
      height: auto;
   }

   .gallery .image {
      /* width: 21%;
      margin: 1rem; */
      margin: 0;
      display: grid;
      grid-template-rows: 1fr auto;
      margin-bottom: 10px;
      break-inside: avoid;
   }

   .image > img {
      grid-row: 1 / -1;
      grid-column: 1;
   }

   .image a {
      color: black;
      text-decoration: none;
   }

   @media (max-width: 768px) {
      .gallery {
         column-count: 2;
         column-gap: 5px;
      }
   }
</style>
