---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

---

<Layout title="Gallery :: Happy Tail Grooming">
   <!-- Main -->
   <section id="main" class="container large">
      <header>
         <h2>Gallery</h2>
      </header>
      <div class="box gallery">
         <div class="image">
            <img src="gallery/pic (1).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (2).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (3).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (4).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (5).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (6).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (7).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (8).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (9).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (10).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (11).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (12).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (13).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (14).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (15).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (16).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (17).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (18).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (19).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (20).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (21).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (22).jpg" alt="" />
         </div>
         <div class="image">
            <img src="gallery/pic (23).jpg" alt="" />
         </div>
      </div>
   </section>
</Layout>

<style>

   .box {
      padding: 2rem;
   }

   .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   .gallery .image {
      width: 22%;
      margin: 1rem;;
   }
   
   .gallery img {
      max-width: 100%;
      height: auto;
   }
</style>
