<footer id="footer">
   <ul class="icons">
      <li>
         <a
            href="https://www.facebook.com/profile.php?id=61561424875308"
            class="icon brands fa-facebook-f"
            target="_blank"><span class="label">Facebook</span></a
         >
      </li>
      <li>
         <a
            href="https://www.instagram.com/happytail_grooming"
            class="icon brands fa-instagram"
            target="_blank"
            ><span class="label">Instagram</span></a
         >
      </li>
   </ul>
   <ul class="copyright">
      <li>&copy; Happy Tail Grooming. All rights reserved.</li><li>
         Design: <a href="https://efrank.xyz">eFrank</a>
      </li>
   </ul>
</footer>
