<nav id="menu">
   <ul>
      <li><a href="index.html">Home</a></li>
      <li>
         <a href="#" class="icon solid fa-angle-down">Services</a>
         <ul>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="elements.html">Elements</a></li>
         </ul>
      </li>
      <li><a href="index.html">FAQs</a></li>
      <li><a href="index.html">Gallery</a></li>
      <li><a href="index.html">Contact Us</a></li>
      <li><a href="#" class="button">Book Now</a></li>
   </ul>
</nav>
