<nav id="menu">
   <ul>
      <li><a href="/">Home</a></li>
      <li>
         <a href="/services">Services</a>

      </li>
      <li><a href="/faq.html">FAQs</a></li>
      <li><a href="/gallery.html">Gallery</a></li>
      <li><a href="/contact.html">Contact Us</a></li>
      <li><a href="/booking" class="button">Book Now</a></li>
   </ul>
</nav>
