---
import Stars from "./Stars.astro";
---

<div class="row">
  <div class="col-12">
    <section class="box special">
      <h3>What clients say</h3>

      <br />

      <div class="reviews">
        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>Great experience!
            Came to my house the morning after I called, and gave both of my
            dogs 5 star treatment! I will use them again!!
            <span class="icon fa-solid fa-quote-right"></span>
          </p>

          <h4>Allison Wilson</h4>

          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>
            Catherine did a great job grooming our golden doodle for his first time
            being groomed! Communication was top notch and he looks amazing! Definitely
            recommend her services.
            <span class="icon fa-solid fa-quote-right"></span>
          </p>

          <h4>Anna Poole</h4>

          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>
            I surely love Happy Tail Grooming. My kids are always treated with love
            and care. Catherine is amazing 😍! She comes to my house 🏠 and her truck
            is so clean that I could eat there. It always smells great, she never
            recycled the water between baths as other mobile 📲 groomers and she can
            bathe my two labs which most only work with small pets. All of my friends
            use her and we all love her.
            <span class="icon fa-solid fa-quote-right"></span>
          </p>
          <h4>Ibeth Greer</h4>

          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>
            Wow Happy Tail Grooming is the best I’ve used yet!! And my 10 1/2 year
            old Cavapoochon has had many groomers!! My sweet pup has always had angst
            being groomed but Catherine was so good and gentle with her from the moment
            they met, I knew Lulu was going to be in good hands. We have found our
            last groomer-thank you Happy Tail Grooming 🩷🐾🩷🐾
            <span class="icon fa-solid fa-quote-right"></span>
          </p>
          <h4>Liz Hernandez</h4>

          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>
            After seeing the mobile grooming van yesterday, I decided to give them
            a call to see if she could service my pup. Let me just say she delivered
            exceptional service and my pup looks amazing. Hershey will definitely
            be seeing you again❤️
            <span class="icon fa-solid fa-quote-right"></span>
          </p>
          <h4>Lisa Loven</h4>

          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>Ms. Catherine is the best! As a first time fur Mom I wanted to find some one to personally come out to groom my puppy as I have heard how sometimes other groomers use kennel drying which I'm aware aren’t the best. Ms. Catherine has been nothing but friendly, professional and she listens to the needs of services each time. I’m always excited and pleased to see my pup when services are completed and I look forward to our next session. I definitely recommend as she’s definitely passionate about the quality of her services!<span
              class="icon fa-solid fa-quote-right"></span>
          </p>

          <h4>J'taime Veus</h4>

          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>Catherine knows
            exactly how to take care of my Goldendoodle. She has been grooming
            her for 3 years now. I feel very relieved to have someone so
            talented and loving taking care of my dog. I am always surprise to
            see Sahara (pictured attached) after her grooming as she always
            comes out looking more beautiful with pretty bows and/or scarfs.<span
              class="icon fa-solid fa-quote-right"></span>
          </p>
          <h4>Dinery Dehart</h4>
          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>We had a great
            first experience with Happy Tail! Our two dogs, Dani and Stella,
            loved the grooming and we think they look great! We will be using
            them again!<span class="icon fa-solid fa-quote-right"></span>
          </p>
          <h4>Madison Jaulin</h4>
          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>Catherine has been grooming my black standard poodle, Splendor for about three years now. She does an amazing job. She makes her look like a show dog even though she is not. Above Catherine’s grooming skills what I really like and appreciate about Catherine is how much my dog loves her. You know when someone is treating your dog right. Splendor having a positive experience at the groomers is just as important to me as her haircut. I highly 100% recommend Catherine and Happy Tail Grooming.<span class="icon fa-solid fa-quote-right"
            ></span>
          </p>
          <h4>Mary Murchison</h4>
          <Stars cant={5} />
        </div>

        <div class="item-carousel">
          <p>
            <span class="icon fa-solid fa-quote-left"></span>Happy tail grooming did an EXCELLENT job grooming my 15 year old shih-tzu. My dog was relaxed & looked so cute. Impressed with the skill, communication, timeliness & professionalism! Highly recommend.<span class="icon fa-solid fa-quote-right"
            ></span>
          </p>
          <h4>Mia Acosta</h4>
          <Stars cant={5} />
        </div>
      </div>

      <br />
      <br />

      <ul class="actions special">
        <li>
          <a
            href="https://www.google.com/search?hl=en-VE&gl=ve&q=Happy+Tail+Grooming&ludocid=14539977730869703738&lsig=AB86z5UJG007TWPcrjgNUh7hJ793#"
            target="_blank"
            class="button alt">See More</a
          >
        </li>
      </ul>
    </section>
  </div>
</div>

<script>
  import Flickity from "flickity";

  document.addEventListener("astro:page-load", () => {
    const elem = document.querySelector(".reviews");
    if (!elem) return;

    let flkty = new Flickity(".reviews", {
      draggable: true,
      contain: true,
      freeScroll: true,
      wrapAround: true,
      pageDots: true,
    });
  });
</script>

<style>
  .reviews {
    width: 85%;
    margin: auto;
  }

  .icon {
    margin-top: 2rem;
    color: #ccc;
    font-size: x-large;
    display: inline;
  }

  .stars .icon {
    color: #e91c7e;
    font-size: larger;
  }

  .fa-quote-left::before {
    position: relative;
    left: -1rem;
    bottom: 1rem;
  }
  .fa-quote-right::before {
    position: relative;
    left: 1rem;
    bottom: 0.25rem;
  }

  .item-carousel {
    width: 100%;
    height: auto;
    padding: 3rem;
    margin-right: 20px;
    margin-bottom: 20px;
  }
</style>
