---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/chewy";
import "@fontsource-variable/open-sans";
import "../sass/main.scss";
import "../sass/custom.scss";
import "../sass/lightbox.min.css"
import socialLogo from "../images/social-logo-HTG.webp"

const isHome = Astro.url.pathname == "/";
---

<!doctype html>
<html>
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>
		<link rel="shortcut icon" href="favicon.png" type="image/png">

		<meta name="title" content="Happy Tail Grooming" />
		<meta name="description" content="We Pamper your pet because their deserve it" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://happytailgrooming.com/" />
		<meta property="og:title" content="Home Happy Tail Grooming" />
		<meta property="og:description" content="We Pamper your pet because their deserve it" />
		<meta property="og:image" content={socialLogo.src} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://happytailgrooming.com/" />
		<meta property="twitter:title" content="Home Happy Tail Grooming" />
		<meta property="twitter:description" content="We Pamper your pet because their deserve it" />
		<meta property="twitter:image" content={socialLogo.src} />


	</head>
	<body class:list={["is-preload", { landing: isHome }]}>
		<div id="page-wrapper">
			<Header />

			<slot />

			<Footer />
		</div>

		<script is:inline src="/js/jquery.min.js"></script>
		<script is:inline src="/js/jquery.dropotron.min.js"></script>
		<script is:inline src="/js/breakpoints.min.js"></script>
		<script is:inline src="/js/browser.min.js"></script>
		<script is:inline src="/js/jquery.scrollex.min.js"></script>
		<script is:inline src="/js/lightbox.min.js"></script>
		<script is:inline src="/js/util.js"></script>
		<script is:inline src="/js/main.js"></script>
	</body>
</html>
