---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/chewy";
import "@fontsource-variable/open-sans";
import "../sass/main.scss";
import "../sass/custom.scss";
import "../sass/lightbox.min.css"

const isHome = Astro.url.pathname == "/";
---

<!doctype html>
<html>
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=no"
		/>
		<link rel="shortcut icon" href="favicon.png" type="image/png">
	</head>
	<body class:list={["is-preload", { landing: isHome }]}>
		<div id="page-wrapper">
			<Header />

			<slot />

			<Footer />
		</div>

		<script is:inline src="/js/jquery.min.js"></script>
		<script is:inline src="/js/jquery.dropotron.min.js"></script>
		<script is:inline src="/js/breakpoints.min.js"></script>
		<script is:inline src="/js/browser.min.js"></script>
		<script is:inline src="/js/jquery.scrollex.min.js"></script>
		<script is:inline src="/js/lightbox.min.js"></script>
		<script is:inline src="/js/util.js"></script>
		<script is:inline src="/js/main.js"></script>
	</body>
</html>
